<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="keywords"
      content="Gym, Fitness, Crossfit, Spinning, Functional, Box, Health, Body"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Quicksand:wght@300;500;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="../../Assets/Logos/favicon.ico"
    />
    <link rel="stylesheet" href="../css/reset.css" />
    <link rel="stylesheet" href="../css/common.css" />
    <link rel="stylesheet" href="../css/header.css" />
    <link rel="stylesheet" href="../css/main.css" />
    <link rel="stylesheet" href="../css/login.css" />
    <link rel="stylesheet" href="../css/footer.css" />
    <script src="../js/login.js"></script>
    <title>Mega Rocket - Login</title>
  </head>
  <body>
    <header>
      <div class="header-logo">
        <img
          src="../../Assets/Logos/radiumrocketlogo.png"
          alt="mega rocket logo"
          id="rr-logo"
        />
        <h1>MEGA ROCKET<span> S.A.</span></h1>
      </div>
      <div class="header-buttons">
        <a href="./index.html" class="button-container">
          Home
          <img src="../../Assets/Logos/home-icon.png" alt="login icon" />
        </a>
        <a href="./sign-up.html" class="button-container">
          Sign up
          <img src="../../Assets/Logos/signup-icon.png" alt="sign up icon" />
        </a>
        <a href="#" class="menu-icon">
          <img src="../../Assets/Logos/hamburger-logo.png" alt="menu-icon" />
        </a>
      </div>
    </header>
    <main class="alt-main main-container">
      <aside class="aside-mobile">
        <nav>
          <ul class="mobile-links">
            <li>
              <a href="./index.html">HOME</a>
            </li>
            <li>
              <a href="./sign-up.html">SIGN UP</a>
            </li>
          </ul>
        </nav>
      </aside>
      <form
        action="https://api-rest-server.vercel.app/login"
        method="get"
        id="form-login"
      >
        <h4>Login</h4>
        <fieldset class="fieldset-login" id="email-fieldset">
          <label for="email-login">E mail</label>
          <input
            type="text"
            name="email"
            id="email-login"
            class="input-border"
            placeholder="example@gmail.com"
          />
        </fieldset>
        <fieldset class="fieldset-login" id="pass-fieldset">
          <label for="pass-login">Password</label>
          <input
            type="password"
            name="password"
            id="pass-login"
            class="input-border"
            placeholder="**********"
          />
          <a href="#">Forgot your password?</a>
        </fieldset>
        <button type="submit" id="login-button">Login</button>
      </form>
    </main>
    <footer>
      <ul id="footer-icons-left">
        <li>
          <a href="https://www.instagram.com/">
            @ROCKETGYM
            <img
              src="../../Assets/Logos/instagram-logo.png"
              alt="Instagram Logo"
            />
          </a>
        </li>
        <li>
          <a href="https://www.whatsapp.com/?lang=es">
            +1 408 741 2369
            <img
              src="../../Assets/Logos/whatsapp-logo.png"
              alt="Whatsapp Logo"
            />
          </a>
        </li>
        <li>
          <a href="https://www.facebook.com/">
            Mega Rocket GYM
            <img
              src="../../Assets/Logos/facebook-logo.png"
              alt="Facebook Logo"
            />
          </a>
        </li>
      </ul>
      <ul id="footer-center">
        <li>
          <a href="#">
            Av. Pellegrini 3535
            <img src="../../Assets/Logos/mapa.png" alt="map icon" />
          </a>
        </li>
        <li>
          <a href="#">
            +464 206 96
            <img src="../../Assets/Logos/ring-phone.png" alt="phone icon" />
          </a>
        </li>
      </ul>
      <ul id="footer-rigth">
        <li>
          <p>MEGA ROCKET SA</p>
        </li>
        <li>
          <p>All rights reserved. 2023 &copy;</p>
        </li>
      </ul>
    </footer>
  </body>
</html>
