<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="keywords"
      content="Gym, Fitness, Crossfit, Spinning, Functional, Box, Health, Body"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Quicksand:wght@300;500;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="../../Assets/Logos/favicon.ico"
    />
    <link rel="stylesheet" href="../css/reset.css" />
    <link rel="stylesheet" href="../css/common.css" />
    <link rel="stylesheet" href="../css/header.css" />
    <link rel="stylesheet" href="../css/main.css" />
    <link rel="stylesheet" href="../css/footer.css" />
    <link rel="stylesheet" href="../css/sign-up.css" />
    <script src="../js/sign-up.js"></script>
    <title>Mega Rocket - Sign Up</title>
  </head>
  <body>
    <header>
      <div class="header-logo">
        <img
          src="../../Assets/Logos/radiumrocketlogo.png"
          alt="mega rocket logo"
          id="rr-logo"
        />
        <h1>MEGA ROCKET<span> S.A.</span></h1>
      </div>
      <div class="header-buttons">
        <a href="./index.html" class="button-container">
          Home
          <img src="../../Assets/Logos/home-icon.png" alt="sign up icon" />
        </a>
        <a href="./login.html" class="button-container">
          Login
          <img src="../../Assets/Logos/login-icon.png" alt="login icon" />
        </a>
        <a href="#" class="menu-icon">
          <img src="../../Assets/Logos/hamburger-logo.png" alt="menu-icon" />
        </a>
      </div>
    </header>
    <main class="alt-main">
      <form action="" id="form-sign-up">
        <h4>Register</h4>
        <div class="field-container">
          <fieldset>
            <label for="reg-name">Name</label>
            <input
              type="text"
              id="reg-name"
              class="form-input"
              placeholder="Your Name"
            />
          </fieldset>
          <fieldset>
            <label for="reg-surname">Surname</label>
            <input
              type="text"
              id="reg-surname"
              class="form-input"
              placeholder="Your Surname"
            />
          </fieldset>
          <fieldset>
            <label for="reg-dni">ID</label>
            <input
              type="text"
              id="reg-dni"
              class="form-input"
              name="id"
              placeholder="ID"
            />
          </fieldset>
          <fieldset>
            <label for="reg-date-birth">Date of Birth</label>
            <input
              type="date"
              id="reg-date-birth"
              class="form-input"
              placeholder="Date of Birth"
            />
          </fieldset>
          <fieldset>
            <label for="reg-phone">Phone Number</label>
            <input
              type="text"
              id="reg-phone"
              class="form-input"
              placeholder="Phone Number"
            />
          </fieldset>
          <fieldset>
            <label for="reg-address">Address</label>
            <input
              type="text"
              id="reg-address"
              class="form-input"
              placeholder="Address"
            />
          </fieldset>
          <fieldset>
            <label for="reg-city">City</label>
            <input
              type="text"
              id="reg-city"
              class="form-input"
              placeholder="City"
            />
          </fieldset>
          <fieldset>
            <label for="reg-zip">Zip Code</label>
            <input
              type="text"
              name="zip"
              id="reg-zip"
              class="form-input"
              placeholder="Zip Code"
            />
          </fieldset>
          <fieldset>
            <label for="reg-email">E mail</label>
            <input
              type="text"
              id="reg-email"
              class="form-input"
              placeholder="example@gmail.com"
            />
          </fieldset>
          <fieldset>
            <label for="reg-pass">Password</label>
            <input
              type="text"
              id="reg-pass"
              class="form-input"
              placeholder="*********"
            />
          </fieldset>
          <fieldset>
            <label for="reg-pass-repeat">Repeat Password</label>
            <input
              type="text"
              id="reg-pass-repeat"
              class="form-input"
              placeholder="*********"
            />
          </fieldset>
        </div>
        <div class="form-button-container">
          <button type="submit" id="reg-button">Register</button>
          <button>Cancel</button>
        </div>
      </form>
    </main>
    <footer>
      <ul id="footer-icons-left">
        <li>
          <a href="https://www.instagram.com/">
            @ROCKETGYM
            <img
              src="../../Assets/Logos/instagram-logo.png"
              alt="Instagram Logo"
            />
          </a>
        </li>
        <li>
          <a href="https://www.whatsapp.com/?lang=es">
            +1 408 741 2369
            <img
              src="../../Assets/Logos/whatsapp-logo.png"
              alt="Whatsapp Logo"
            />
          </a>
        </li>
        <li>
          <a href="https://www.facebook.com/">
            Mega Rocket GYM
            <img
              src="../../Assets/Logos/facebook-logo.png"
              alt="Facebook Logo"
            />
          </a>
        </li>
      </ul>
      <ul id="footer-center">
        <li>
          <a href="#">
            Av. Pellegrini 3535
            <img src="../../Assets/Logos/mapa.png" alt="map icon" />
          </a>
        </li>
        <li>
          <a href="#">
            +464 206 96
            <img src="../../Assets/Logos/ring-phone.png" alt="phone icon" />
          </a>
        </li>
      </ul>
      <ul id="footer-rigth">
        <li>
          <p>MEGA ROCKET SA</p>
        </li>
        <li>
          <p>All rights reserved. 2023 &copy;</p>
        </li>
      </ul>
    </footer>
  </body>
</html>
